# 계량경제학 1주차 수업 
-------------------------
계량경제학의 1주차 수업을 시작합니다. 
처음 오신분들은 파이썬의 기초 문법을 알고 오시는것으로 알고 현재 수업은 진행됩니다. 현재 모듈은 해결적과정 2에 해당합니다. 

목차는 readme문서를 참고해주시기 바랍니다.

기초적인 통계 학 개념부터 구현해보도록 합시다. 이 분야는 한단계씩 쌓아 올리는 부분과, 천천히 개념에 대한 이해를 깊게 가져가는 두개의 적절한 조화가 필요합니다.

### 기초 통계학 개념

In [13]:
import json
import pandas as pd 
from dotenv import load_dotenv
import os
load_dotenv()
API_KEY = os.environ.get("API_KEY")

In [3]:
import requests

url = "https://yh-finance.p.rapidapi.com/stock/get-fundamentals"

querystring = {"symbol":"AMRN","region":"US","lang":"en-US","modules":"assetProfile,summaryProfile,fundProfile"}

headers = {
	"x-rapidapi-key": API_KEY,
	"x-rapidapi-host": "yh-finance.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)

print(response.json())

{'quoteSummary': {'result': [{'assetProfile': {'address1': 'Iconic Offices, The Greenway', 'address2': 'Block C Ardilaun Court St Stephens Green', 'city': 'Dublin', 'zip': '112-114', 'country': 'Ireland', 'phone': '353 0 166 99020', 'website': 'https://www.amarincorp.com', 'industry': 'Drug Manufacturers - General', 'industryKey': 'drug-manufacturers-general', 'industryDisp': 'Drug Manufacturers - General', 'sector': 'Healthcare', 'sectorKey': 'healthcare', 'sectorDisp': 'Healthcare', 'longBusinessSummary': 'Amarin Corporation plc, a pharmaceutical company, engages in the development and commercialization of therapeutics for the treatment of cardiovascular diseases in the United States, European countries, Canada, Lebanon, and the United Arab Emirates. The company offers VASCEPA, a prescription-only omega-3 fatty acid product, used as an adjunct to diet for reducing triglyceride levels in adult patients with severe hypertriglyceridemia. It sells its products principally to wholesalers and specialty pharmacy providers. The company has a collaboration with Mochida Pharmaceutical Co., Ltd. to develop and commercialize drug products and indications based on the active pharmaceutical ingredient in Vascepa. The company was formerly known as Ethical Holdings plc and changed its name to Amarin Corporation plc in 1999. Amarin Corporation plc was incorporated in 1989 and is headquartered in Dublin, Ireland.', 'fullTimeEmployees': 275, 'companyOfficers': [{'maxAge': 1, 'name': 'Mr. Aaron D. Berg', 'age': 60, 'title': 'CEO & President', 'yearBorn': 1963, 'fiscalYear': 2023, 'totalPay': {'raw': 1260324, 'fmt': '1.26M', 'longFmt': '1,260,324'}, 'exercisedValue': {'raw': 0, 'fmt': None, 'longFmt': '0'}, 'unexercisedValue': {'raw': 0, 'fmt': None, 'longFmt': '0'}}, {'maxAge': 1, 'name': 'Mr. Thomas Charles Reilly', 'age': 50, 'title': 'Executive VP, CFO & Global Head of HR', 'yearBorn': 1973, 'fiscalYear': 2023, 'totalPay': {'raw': 1014135, 'fmt': '1.01M', 'longFmt': '1,014,135'}, 'exercisedValue': {'raw': 0, 'fmt': None, 'longFmt': '0'}, 'unexercisedValue': {'raw': 0, 'fmt': None, 'longFmt': '0'}}, {'maxAge': 1, 'name': 'Dr. Steven B. Ketchum Ph.D.', 'age': 58, 'title': 'Executive VP, President of Research & Development and Chief Scientific Officer', 'yearBorn': 1965, 'fiscalYear': 2023, 'totalPay': {'raw': 1162742, 'fmt': '1.16M', 'longFmt': '1,162,742'}, 'exercisedValue': {'raw': 0, 'fmt': None, 'longFmt': '0'}, 'unexercisedValue': {'raw': 0, 'fmt': None, 'longFmt': '0'}}, {'maxAge': 1, 'name': 'Mr. Jonathan N. Provoost', 'age': 53, 'title': 'Executive VP, Chief Legal & Compliance Officer and Secretary', 'yearBorn': 1970, 'fiscalYear': 2023, 'totalPay': {'raw': 160081, 'fmt': '160.08k', 'longFmt': '160,081'}, 'exercisedValue': {'raw': 0, 'fmt': None, 'longFmt': '0'}, 'unexercisedValue': {'raw': 0, 'fmt': None, 'longFmt': '0'}}, {'maxAge': 1, 'name': 'Mr. Jordan  Zwick', 'age': 36, 'title': 'Senior VP of Corporate Business Development & Investor Relations', 'yearBorn': 1987, 'fiscalYear': 2023, 'exercisedValue': {'raw': 0, 'fmt': None, 'longFmt': '0'}, 'unexercisedValue': {'raw': 0, 'fmt': None, 'longFmt': '0'}}, {'maxAge': 1, 'name': 'Mr. Laurent  Abuaf', 'title': 'President of Europe & Senior VP', 'fiscalYear': 2023, 'exercisedValue': {'raw': 0, 'fmt': None, 'longFmt': '0'}, 'unexercisedValue': {'raw': 0, 'fmt': None, 'longFmt': '0'}}, {'maxAge': 1, 'name': 'Dr. Nabil  Abadir', 'title': 'Chief Medical Officer of Global Medical Affairs', 'fiscalYear': 2023, 'exercisedValue': {'raw': 0, 'fmt': None, 'longFmt': '0'}, 'unexercisedValue': {'raw': 0, 'fmt': None, 'longFmt': '0'}}, {'maxAge': 1, 'name': 'Dr. David  Keenan Ph.D.', 'title': 'Executive VP of Technical Operations & President of Europe', 'fiscalYear': 2023, 'exercisedValue': {'raw': 0, 'fmt': None, 'longFmt': '0'}, 'unexercisedValue': {'raw': 0, 'fmt': None, 'longFmt': '0'}}], 'compensationAsOfEpochDate': 1703980800, 'irWebsite': 'http://investor.amarincorp.com/', 'maxAge': 86400}, 'summaryProfile': {'address1': 'Iconic Offices, The Greenway', 'address2': 'Block C Ardilaun Court St Stephens Green', 'city': 'Dublin', 'zip': '112-114', 'country': 'Ireland', 'phone': '353 0 166 99020', 'website': 'https://www.amarincorp.com', 'industry': 'Drug Manufacturers - General', 'industryKey': 'drug-manufacturers-general', 'industryDisp': 'Drug Manufacturers - General', 'sector': 'Healthcare', 'sectorKey': 'healthcare', 'sectorDisp': 'Healthcare', 'longBusinessSummary': 'Amarin Corporation plc, a pharmaceutical company, engages in the development and commercialization of therapeutics for the treatment of cardiovascular diseases in the United States, European countries, Canada, Lebanon, and the United Arab Emirates. The company offers VASCEPA, a prescription-only omega-3 fatty acid product, used as an adjunct to diet for reducing triglyceride levels in adult patients with severe hypertriglyceridemia. It sells its products principally to wholesalers and specialty pharmacy providers. The company has a collaboration with Mochida Pharmaceutical Co., Ltd. to develop and commercialize drug products and indications based on the active pharmaceutical ingredient in Vascepa. The company was formerly known as Ethical Holdings plc and changed its name to Amarin Corporation plc in 1999. Amarin Corporation plc was incorporated in 1989 and is headquartered in Dublin, Ireland.', 'fullTimeEmployees': 275, 'companyOfficers': [], 'irWebsite': 'http://investor.amarincorp.com/', 'maxAge': 86400}}], 'error': None}}

In [4]:
data = response.json()

In [5]:
df = pd.json_normalize(data, record_path=['quoteSummary','result'])

In [6]:
df

,assetProfile.address1,assetProfile.address2,assetProfile.city,assetProfile.zip,assetProfile.country,assetProfile.phone,assetProfile.website,assetProfile.industry,assetProfile.industryKey,assetProfile.industryDisp,...,summaryProfile.industryKey,summaryProfile.industryDisp,summaryProfile.sector,summaryProfile.sectorKey,summaryProfile.sectorDisp,summaryProfile.longBusinessSummary,summaryProfile.fullTimeEmployees,summaryProfile.companyOfficers,summaryProfile.irWebsite,summaryProfile.maxAge
0,"Iconic Offices, The Greenway",Block C Ardilaun Court St Stephens Green,Dublin,112-114,Ireland,353 0 166 99020,https://www.amarincorp.com,Drug Manufacturers - General,drug-manufacturers-general,Drug Manufacturers - General,...,drug-manufacturers-general,Drug Manufacturers - General,Healthcare,healthcare,Healthcare,"Amarin Corporation plc, a pharmaceutical compa...",275,[],http://investor.amarincorp.com/,86400

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 37 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   assetProfile.address1                   1 non-null      object
 1   assetProfile.address2                   1 non-null      object
 2   assetProfile.city                       1 non-null      object
 3   assetProfile.zip                        1 non-null      object
 4   assetProfile.country                    1 non-null      object
 5   assetProfile.phone                      1 non-null      object
 6   assetProfile.website                    1 non-null      object
 7   assetProfile.industry                   1 non-null      object
 8   assetProfile.industryKey                1 non-null      object
 9   assetProfile.industryDisp               1 non-null      object
 10  assetProfile.sector                     1 non-null      object
 11  assetProfile.sectorKey                  1 non-null      object
 12  assetProfile.sectorDisp                 1 non-null      object
 13  assetProfile.longBusinessSummary        1 non-null      object
 14  assetProfile.fullTimeEmployees          1 non-null      int64
 15  assetProfile.companyOfficers            1 non-null      object
 16  assetProfile.compensationAsOfEpochDate  1 non-null      int64
 17  assetProfile.irWebsite                  1 non-null      object
 18  assetProfile.maxAge                     1 non-null      int64
 19  summaryProfile.address1                 1 non-null      object
 20  summaryProfile.address2                 1 non-null      object
 21  summaryProfile.city                     1 non-null      object
 22  summaryProfile.zip                      1 non-null      object
 23  summaryProfile.country                  1 non-null      object
 24  summaryProfile.phone                    1 non-null      object
 25  summaryProfile.website                  1 non-null      object
 26  summaryProfile.industry                 1 non-null      object
 27  summaryProfile.industryKey              1 non-null      object
 28  summaryProfile.industryDisp             1 non-null      object
 29  summaryProfile.sector                   1 non-null      object
 30  summaryProfile.sectorKey                1 non-null      object
 31  summaryProfile.sectorDisp               1 non-null      object
 32  summaryProfile.longBusinessSummary      1 non-null      object
 33  summaryProfile.fullTimeEmployees        1 non-null      int64
 34  summaryProfile.companyOfficers          1 non-null      object
 35  summaryProfile.irWebsite                1 non-null      object
 36  summaryProfile.maxAge                   1 non-null      int64
dtypes: int64(5), object(32)
memory usage: 428.0+ bytes

In [9]:
df.describe()

,assetProfile.fullTimeEmployees,assetProfile.compensationAsOfEpochDate,assetProfile.maxAge,summaryProfile.fullTimeEmployees,summaryProfile.maxAge
count,1.0,1.000000e+00,1.0,1.0,1.0
mean,275.0,1.703981e+09,86400.0,275.0,86400.0
std,NaN,NaN,NaN,NaN,NaN
min,275.0,1.703981e+09,86400.0,275.0,86400.0
25%,275.0,1.703981e+09,86400.0,275.0,86400.0
50%,275.0,1.703981e+09,86400.0,275.0,86400.0
75%,275.0,1.703981e+09,86400.0,275.0,86400.0
max,275.0,1.703981e+09,86400.0,275.0,86400.0

In [11]:
df.head()

,assetProfile.address1,assetProfile.address2,assetProfile.city,assetProfile.zip,assetProfile.country,assetProfile.phone,assetProfile.website,assetProfile.industry,assetProfile.industryKey,assetProfile.industryDisp,...,summaryProfile.industryKey,summaryProfile.industryDisp,summaryProfile.sector,summaryProfile.sectorKey,summaryProfile.sectorDisp,summaryProfile.longBusinessSummary,summaryProfile.fullTimeEmployees,summaryProfile.companyOfficers,summaryProfile.irWebsite,summaryProfile.maxAge
0,"Iconic Offices, The Greenway",Block C Ardilaun Court St Stephens Green,Dublin,112-114,Ireland,353 0 166 99020,https://www.amarincorp.com,Drug Manufacturers - General,drug-manufacturers-general,Drug Manufacturers - General,...,drug-manufacturers-general,Drug Manufacturers - General,Healthcare,healthcare,Healthcare,"Amarin Corporation plc, a pharmaceutical compa...",275,[],http://investor.amarincorp.com/,86400